.small-title{
  font-size: 2em;
  text-align: center;
  font-family: sans-serif;
}

.large-title{
  font-size: 3em;
  text-align: center;
  font-family: sans-serif;
}

h2{
  font-family: sans-serif;
}

div {
  color: #FFF;
  background-color: pink;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
}

li{
  padding: 1em;
}
